In [1]:
import pandas as pd
import numpy as np
from dotenv import load_dotenv
import pymysql
import sqlalchemy as alch
from getpass import getpass
from geopy.geocoders import Nominatim 
import os

    # Step 1
    load_dotenv()
    password = os.getenv('password')
    dbName = 'UFO'
    connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
    engine = alch.create_engine(connectionData)
    engine

    # Step 2
    query = "SELECT * FROM ufo_table"
    df_ufo = pd.read_sql_query(query, engine)
    df_ufo = df_ufo.sort_values(by='year', axis=0)
    df_ufo

    # Step 3
    df_ufo = df_ufo.reset_index()
    del df_ufo['index']
    df_ufo

    # Step 4
    def find_rank(df, value):
        df['Rank'] = (df == value).sum(axis=1)
        return df

    df_ufo = find_rank(df_ufo, 'Yes')
    df_ufo

In [2]:
def ufo_table_from_sql(query):
    load_dotenv()
    password = os.getenv('password')
    dbName = 'UFO'
    connectionData=f"mysql+pymysql://root:{password}@localhost/{dbName}"
    engine = alch.create_engine(connectionData)
    df = pd.read_sql_query(query, engine)
    df = df.sort_values(by='year', axis=0)
    df = df.reset_index()
    del df['index']
    df['location'] = df['latitude'].round(6).astype(str) + ', ' + df['longitude'].round(6).astype(str)
    df = df.reindex(columns=['latitude', 'longitude', 'year', 'Cow incidents', 'Crop circle found', 'Alien sighted', 'Abduction event', 'Rank', 'location'])
    return df


def find_rank(df, value):
    df['Rank'] = (df == value).sum(axis=1)
    return df

In [3]:
query = "SELECT * FROM ufo_table"
df_ufo = ufo_table_from_sql(query)
df_ufo = find_rank(df_ufo, 'Yes')
df_ufo
#df_ufo.to_csv('ufo.csv', index=False)
#df_ufo.to_excel('ufo.xlsx', index=False)

,latitude,longitude,year,Cow incidents,Crop circle found,Alien sighted,Abduction event,Rank,location
0,38.150073,-5.143430,1538,No,No,Yes,No,1,"38.150073, -5.14343"
1,38.249661,-4.320397,1540,Yes,No,No,No,1,"38.249661, -4.320397"
2,38.609054,-2.017192,1541,No,No,No,Yes,1,"38.609054, -2.017192"
3,37.567580,-3.826882,1542,No,No,Yes,Yes,2,"37.56758, -3.826882"
4,38.069677,-5.419291,1543,No,No,Yes,No,1,"38.069677, -5.419291"
...,...,...,...,...,...,...,...,...,...
275,37.995485,-4.266331,2017,No,No,Yes,No,1,"37.995485, -4.266331"
276,38.977090,-1.914713,2019,No,No,Yes,No,1,"38.97709, -1.914713"
277,42.610961,-5.653374,2022,No,No,No,No,0,"42.610961, -5.653374"
278,42.521026,-5.539546,2023,Yes,No,No,No,1,"42.521026, -5.539546"
279,37.849087,-3.420804,2023,No,No,Yes,Yes,2,"37.849087, -3.420804"

In [5]:
geolocator = Nominatim(user_agent="my_code")
#Passing the data
coordinates = df_ufo.location[97]
location = geolocator.reverse(coordinates)
#Extracting the data
location.raw
hamlet_lat = location.raw['lat']
hamlet_lon = location.raw['lon']
#province = location.raw['address']['state_district']
#province = location.raw['address']['province']
state = location.raw['address']['state']

#print(f"{village}, village lat '{village_lat}', village lon '{village_lon}', {district}, {state}")

In [7]:
geolocator = Nominatim(user_agent="my_code")
#Passing the data
coordinates = df_ufo.location[0]
location = geolocator.reverse(coordinates)
#Extracting the data
#location.raw

In [8]:
geolocator = Nominatim(user_agent="my_code")
#Passing the data
coordinates = df_ufo.location[0]
location = geolocator.reverse(coordinates)
#Extracting the data
#location.raw

In [9]:
def add_location_data(df):
    geolocator = Nominatim(user_agent="my_code")


    province_list = []
    state_list = []
    hamlet_lat_list = []
    hamlet_lon_list = []

    for i in df.location:
        coordinates = i
        location = geolocator.reverse(coordinates)

        try:
            province = location.raw['address']['state_district']
            state = location.raw['address']['state']
            hamlet_lat = location.raw['lat']
            hamlet_lon = location.raw['lon']

            province_list.appendd(province)
            state_list.append(state)
            hamlet_lat_list.append(hamlet_lat)
            hamlet_lon_list.append(hamlet_lon)
        
        except:
            
            try:
                province = location.raw['address']['province']
                state = location.raw['address']['state']
                hamlet_lat = location.raw['lat']
                hamlet_lon = location.raw['lon']

                province_list.appendd(province)
                state_list.append(state)
                hamlet_lat_list.append(hamlet_lat)
                hamlet_lon_list.append(hamlet_lon)
            
            except:
                continue        
                
                
    df['province'] = province_list
    df['state'] = state_list
    df['hamlet_lat'] = hamlet_lat_list
    df['hamlet_lon'] = hamlet_lon_list

    return df

In [10]:
def add_location_data(df):
    geolocator = Nominatim(user_agent="my_code")
    location_list = []

    for i in df.location:
        coordinates = i
        location = geolocator.reverse(coordinates)
        location_list.append(location.raw)
    return location_list

In [11]:
location = add_location_data(df_ufo)

province_list = []
state_list = []
hamlet_lat_list = []
hamlet_lon_list = []
for i in location:
    try:
        province = i['address']['state_district']
        state = i['address']['state']
        hamlet_lat = i['lat']
        hamlet_lon = i['lon']

        province_list.append(province)
        state_list.append(state)
        hamlet_lat_list.append(hamlet_lat)
        hamlet_lon_list.append(hamlet_lon)
        
    except:
        try:
            province = i['address']['province']
            state = i['address']['state']
            hamlet_lat = i['lat']
            hamlet_lon = i['lon']

            province_list.append(province)
            state_list.append(state)
            hamlet_lat_list.append(hamlet_lat)
            hamlet_lon_list.append(hamlet_lon)
        except:
            try:
                province = "nan"
                state = "nan"
                hamlet_lat = "nan"
                hamlet_lon = "nan"

                province_list.append(province)
                state_list.append(state)
                hamlet_lat_list.append(hamlet_lat)
                hamlet_lon_list.append(hamlet_lon)
            except:
                continue
            
    print(province_list, state_list, hamlet_lat_list, hamlet_lon_list)

In [13]:
df_location = pd.DataFrame({'province': province_list, 'state': state_list, 'hamlet location': list(zip(hamlet_lat_list, hamlet_lon_list))})

In [14]:
df_location

     province               state                           hamlet location
0     Córdoba           Andalucía                  (38.1502523, -5.1540595)
1     Córdoba           Andalucía  (38.251484950377765, -4.316374148798457)
2    Albacete  Castilla-La Mancha   (38.60763884679592, -2.017184532173058)
3        Jaén           Andalucía                  (37.5724134, -3.8216258)
4     Córdoba           Andalucía                   (38.072223, -5.4147698)
..        ...                 ...                                       ...
275      Jaén           Andalucía                  (37.9949159, -4.2633741)
276  Albacete  Castilla-La Mancha   (38.9767675439629, -1.9145231457822447)
277      León     Castilla y León   (42.61373968699461, -5.653273967830568)
278      León     Castilla y León     (42.521460269942, -5.539631620767468)
279      Jaén           Andalucía                  (37.8496792, -3.4200263)

[280 rows x 3 columns]

In [24]:
all_ufo = pd.concat([df_ufo, df_location], axis=1)
all_ufo.to_excel('all_ufo.xlsx', index=False)

In [6]:
def add_location_data(df):
    geolocator = Nominatim(user_agent="my_code")
    location_list = []

    for i in df.location:
        coordinates = i
        location = geolocator.reverse(coordinates)
        location_list.append(location.raw)

    province_list = []
    state_list = []
    hamlet_lat_list = []
    hamlet_lon_list = []
    for i in location_list:
        try:
            province = i['address']['state_district']
            state = i['address']['state']
            hamlet_lat = i['lat']
            hamlet_lon = i['lon']

            province_list.append(province)
            state_list.append(state)
            hamlet_lat_list.append(hamlet_lat)
            hamlet_lon_list.append(hamlet_lon)

        except:
            try:
                province = i['address']['province']
                state = i['address']['state']
                hamlet_lat = i['lat']
                hamlet_lon = i['lon']

                province_list.append(province)
                state_list.append(state)
                hamlet_lat_list.append(hamlet_lat)
                hamlet_lon_list.append(hamlet_lon)
            except:
                try:
                    province = "nan"
                    state = "nan"
                    hamlet_lat = "nan"
                    hamlet_lon = "nan"

                    province_list.append(province)
                    state_list.append(state)
                    hamlet_lat_list.append(hamlet_lat)
                    hamlet_lon_list.append(hamlet_lon)
                except:
                    continue

    df_location = pd.DataFrame({'province': province_list, 'state': state_list, 'hamlet location': list(zip(hamlet_lat_list, hamlet_lon_list))})

    all_ufo = pd.concat([df, df_location], axis=1)

    return all_ufo

In [7]:
all_ufo = add_location_data(df_ufo)
all_ufo

,latitude,longitude,year,Cow incidents,Crop circle found,Alien sighted,Abduction event,Rank,location,province,state,hamlet location
0,38.150073,-5.143430,1538,No,No,Yes,No,1,"38.150073, -5.14343",Córdoba,Andalucía,"(38.1502523, -5.1540595)"
1,38.249661,-4.320397,1540,Yes,No,No,No,1,"38.249661, -4.320397",Córdoba,Andalucía,"(38.251484950377765, -4.316374148798457)"
2,38.609054,-2.017192,1541,No,No,No,Yes,1,"38.609054, -2.017192",Albacete,Castilla-La Mancha,"(38.60763884679592, -2.017184532173058)"
3,37.567580,-3.826882,1542,No,No,Yes,Yes,2,"37.56758, -3.826882",Jaén,Andalucía,"(37.5724134, -3.8216258)"
4,38.069677,-5.419291,1543,No,No,Yes,No,1,"38.069677, -5.419291",Córdoba,Andalucía,"(38.072223, -5.4147698)"
...,...,...,...,...,...,...,...,...,...,...,...,...
275,37.995485,-4.266331,2017,No,No,Yes,No,1,"37.995485, -4.266331",Jaén,Andalucía,"(37.9949159, -4.2633741)"
276,38.977090,-1.914713,2019,No,No,Yes,No,1,"38.97709, -1.914713",Albacete,Castilla-La Mancha,"(38.9767675439629, -1.9145231457822447)"
277,42.610961,-5.653374,2022,No,No,No,No,0,"42.610961, -5.653374",León,Castilla y León,"(42.61373968699461, -5.653273967830568)"
278,42.521026,-5.539546,2023,Yes,No,No,No,1,"42.521026, -5.539546",León,Castilla y León,"(42.521460269942, -5.539631620767468)"
279,37.849087,-3.420804,2023,No,No,Yes,Yes,2,"37.849087, -3.420804",Jaén,Andalucía,"(37.8496792, -3.4200263)"